.transition-button{
    background-color: rgb(5, 73, 95);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    /*Transition properties */
    transition-property: background-color,
    transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.transition-button:hover{
    background-color: green;
    transform: scale(1.2);
}
#img1{
    margin-top: 20px;
    width: 500px;
    border: 2px solid #ddd;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 2);
    transition: opacity 0.5s ease;
    opacity: 0;
}
#img1:hover{
    opacity: 1;
    cursor: pointer;
}
.pulsing-box{
    width: 80px;
    height: 80px;
    background-color: #ff6347;
    border-radius: 50%;
    margin: 50px;
    /*animation properties*/
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 99, 71, 07);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(255, 99, 71, 07);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(255, 99, 71, 07);
    }
}
