body{
    background-color: lightpink;
}
@media (min-width:320px) {
    body{
        background-color: darkcyan;
    }
}
@media (min-width:480px) {
    body{
        background-color: darkorange;
    }
}
